In [39]:
%load_ext sql
%reload_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
%sql ibm_db_sa://wwf10190:gefh1KiQBQQWsPoo@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

'Connected: wwf10190@bludb'

In [4]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
# Number of rows in CRIME table
%sql SELECT COUNT(*) as number_of_crimes FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(533,)]

In [5]:
# Problem 2: List community areas with per capita income less than 11000.
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [6]:
# Problem 3: List all case numbers for crimes involving minors?
%sql SELECT DISTINCT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%'

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HK238408',), ('HL266884',)]

In [7]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE='KIDNAPPING'

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HN144152', 'KIDNAPPING', datetime.date(2007, 1, 26), 'CHILD ABDUCTION/STRANGER')]

In [9]:
# Problem 5: What kind of crimes were recorded at schools?
%sql SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

In [12]:
# Problem 6: List the average safety score for all types of schools.
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [13]:
# Problem 7: List 5 community areas with highest % of households below poverty line.
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5 ;

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [43]:
# Problem 8: Which community area(number) is most crime prone?
%sql select community_area_number,count(case_number) as no_of_cases from CHICAGO_CRIME_DATA\
group by community_area_number order by no_of_cases desc limit 1

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
   sqlite://
   sqlite:///SQLiteMagic.db
Done.

[(25, 43)]

In [23]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.
%sql SELECT COMMUNITY_AREA_NAME FROM  CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale',)]

In [44]:
# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql select community_area_name from census_data where\
community_area_number = (select community_area_number from (select * from (select community_area_number, count(community_area_number)\
as crimes_in_community from chicago_crime_data group by community_area_number))where\
crimes_in_community =(select max(crimes_in_community) from (select community_area_number, count(community_area_number) as\
                                             crimes_in_community from chicago_crime_data group by community_area_number)));

 * ibm_db_sa://wwf10190:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
   sqlite://
   sqlite:///SQLiteMagic.db
Done.

[('Austin',)]